SOLIDSIGN_API_BASE_URL=http://localhost:8080
SOLIDSIGN_API_AUTHORIZATION=Bearer eyJ...
SOLIDSIGN_CERT_ID=82e227ab-8422-45a1-9936-478283c8c490
SOLIDSIGN_BATCH_INPUT_PATH=C:/input_pdfs
SOLIDSIGN_BATCH_OUTPUT_PATH=C:/signed_results
SOLIDSIGN_SIG_PROFILE=ADRB
SOLIDSIGN_SIG_HASH_ALGORITHM=SHA256
SOLIDSIGN_SIG_POLICY_VERSION=
SOLIDSIGN_SIG_FIELD_MEASUREMENT_UNIT=PIXELS
SOLIDSIGN_SIG_FIELD_CONFIG=[{"pageNumber":1,"coordinateX":200,"coordinateY":380,"width":200,"height":80}]
SOLIDSIGN_SIG_IMAGE_PATHS=C:/path/to/stamp_signature.jpeg
SOLIDSIGN_SIG_REASON=Assinatura digital
SOLIDSIGN_SIG_LOCATION=Brasil
SOLIDSIGN_SIG_CONTACT=contato@suaempresa.com.br
PORT=8088
